openapi: 3.0.3
info:
  title: College Journal API
  version: 0.1.0
  description: |
    Черновая OpenAPI-спецификация для Journal колледжа.

    Спецификация будет наполняться по реальным HTTP-запросам, ответам
    и описаниям бизнес-сценариев.

servers:
  - url: https://msapi.top-academy.ru
    description: Основной API Journal

tags:
  - name: Auth
    description: Аутентификация и авторизация
  - name: Journal
    description: Электронный журнал
  - name: Students
    description: Работа со студентами
  - name: Groups
    description: Работа с группами
  - name: Grades
    description: Оценки и успеваемость
  - name: Schedule
    description: Расписание занятий
  - name: Progress
    description: Прогресс обучения, посещения и экзамены

paths:
  /api/v2/auth/login:
    post:
      tags:
        - Auth
      summary: Вход в систему
      description: |
        Аутентификация пользователя Journal по логину и паролю.

        Для запроса требуется передавать стандартные заголовки клиента Journal:
        `Content-Type`, `Accept`, `Referer`, `Origin` и непустой `User-Agent`.
      operationId: login
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              application_key: 6a56a5df2667e65aab73ce76d1dd737f7d1faef9c52e8b8c55ac75f565d8e8a6
              id_city: null
              password: TestPassword123123
              username: Voron_zw26
      responses:
        '200':
          description: Успешная аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginSuccessResponse'
              example:
                access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvbXNhcGkuaXRzdGVwLm9yZyIsImlhdCI6MTc3NjYwMTcwMiwiYXVkIjoxLCJleHAiOjE3NzY2MjMzMDIsImFwaUFwcGxpY2F0aW9uSWQiOjEsImFwaVVzZXJUeXBlSWQiOjEsInVzZXJJZCI6NDAyNzQsImlkQ2l0eSI6MTE2fQ.NLmuIytR7oj2aVoecG8rfTXeLGxZN8PUr-wN0MoZZBM
                refresh_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvbXNhcGkuaXRzdGVwLm9yZyIsImlhdCI6MTc3NjYwMTcwMiwiYXVkIjoxLCJleHAiOjE3NzY2MjMzMDIsImFwaUFwcGxpY2F0aW9uSWQiOjEsImFwaVVzZXJUeXBlSWQiOjEsInVzZXJJZCI6NDAyNzQsImlkQ2l0eSI6MTE2fQ.NLmuIytR7oj2aVoecG8rfTXeLGxZN8PUr-wN0MoZZBM
                expires_in_refresh: 1776623302
                expires_in_access: 1776623302
                user_type: 1
                city_data:
                  id_city: 116
                  prefix: sham
                  translate_key: SHAMBALA
                  timezone_name: Europe/Moscow
                  country_code: RU/RUS
                  market_status: 1
                  name: Шамбала
                user_role: student
        '422':
          description: Неверные учетные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthValidationErrors'
              examples:
                invalidUsername:
                  summary: Неверный логин
                  value:
                    - field: username
                      message: Неверный логин или пароль
                invalidPassword:
                  summary: Неверный пароль
                  value:
                    - field: password
                      message: Неверный логин или пароль
        '410':
          description: Указанный application key удален или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationKeyGoneResponse'
              example:
                name: Gone
                message: Application with key "15463456456754611" was deleted
                code: 0
                status: 410
  /api/v2/auth/refresh:
    post:
      tags:
        - Auth
      summary: Обновление access token по refresh token
      description: |
        Обновляет пару токенов доступа по ранее выданному `refresh_token`.

        Для запроса требуется передавать стандартные заголовки клиента Journal:
        `Content-Type`, `Accept`, `Referer`, `Origin` и непустой `User-Agent`.
      operationId: refreshToken
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
            example:
              refresh_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvbXNhcGkuaXRzdGVwLm9yZyIsImlhdCI6MTc3NjM2MDcwNCwiYXVkIjoxLCJleHAiOjE3NzYzODIzMDQsImFwaUFwcGxpY2F0aW9uSWQiOjEsImFwaVVzZXJUeXBlSWQiOjEsInVzZXJJZCI6NDAyNzQsImlkQ2l0eSI6MTE2fQ.bkbth1ZNM-njzM4feNB9xy3O2oJbn2eNHu_oFxealx4
      responses:
        '200':
          description: Токены успешно обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenSuccessResponse'
              example:
                access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvbXNhcGkuaXRzdGVwLm9yZyIsImlhdCI6MTc3NjYwMDM1MSwiYXVkIjoxLCJleHAiOjE3NzY2MjE5NTEsImFwaUFwcGxpY2F0aW9uSWQiOjEsImFwaVVzZXJUeXBlSWQiOjEsInVzZXJJZCI6NDAyNzQsImlkQ2l0eSI6MTE2fQ.L02OLgBdpSj-Un3CGw9Y9JI_vDYUAfxcANLqntx9dRU
                refresh_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvbXNhcGkuaXRzdGVwLm9yZyIsImlhdCI6MTc3NjYwMDM1MSwiYXVkIjoxLCJleHAiOjE3NzY2MjE5NTEsImFwaUFwcGxpY2F0aW9uSWQiOjEsImFwaVVzZXJUeXBlSWQiOjEsInVzZXJJZCI6NDAyNzQsImlkQ2l0eSI6MTE2fQ.L02OLgBdpSj-Un3CGw9Y9JI_vDYUAfxcANLqntx9dRU
                expires_in_refresh: 1776624306
                expires_in_access: 1776624306
                user_type: 1
                city_data: null
                user_role: null
        '410':
          description: Refresh token не найден или истек
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenGoneResponse'
              example:
                name: Gone
                message: Your refresh token is not found or expired, please check your auth credentials and try to authenticate
                code: 0
                status: 410
  /api/v2/settings/user-info:
    get:
      tags:
        - Students
      summary: Получение информации о текущем пользователе
      description: |
        Возвращает профиль текущего авторизованного пользователя, включая
        учебную группу, поток, игровые баллы и флаги видимости.
      operationId: getUserInfo
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      responses:
        '200':
          description: Информация о пользователе успешно получена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResponse'
              example:
                groups:
                  - group_status: 0
                    is_primary: true
                    id: 2651
                    name: 9/3-РПО-23/4-Ш
                manual_link: null
                student_id: 40274
                current_group_id: 2651
                full_name: Ворончихин Иван Романович
                achieves_count: 9
                stream_id: 123
                stream_name: Колледж Осень 2023
                group_name: 9/3-РПО-23/4-Ш
                level: 7
                photo: https://fs.top-academy.ru/api/v1/files/hLyVqzabnDyXaHEsW3_l_6U9I_MNtIwu
                gaming_points:
                  - new_gaming_point_types__id: 1
                    points: 2074
                  - new_gaming_point_types__id: 2
                    points: 529
                spent_gaming_points: [ ]
                visibility:
                  is_design: false
                  is_video_courses: false
                  is_vacancy: false
                  is_signal: true
                  is_promo: false
                  is_test: false
                  is_email_verified: true
                  is_quizzes_expired: false
                  is_debtor: false
                  is_phone_verified: true
                  is_only_profile: false
                  is_referral_program: false
                  is_dz_group_issue: true
                  is_birthday: false
                  is_school: false
                  is_news_popup: false
                  is_school_branch: false
                  is_college_branch: false
                  is_higher_education_branch: false
                  is_russian_branch: true
                  is_academy_branch: true
                current_group_status: 0
                birthday: '2007-07-12'
                age: 18
                last_date_visit: '2026-04-19 15:05:51'
                registration_date: '2023-07-11 00:00:00'
                gender: 0
                study_form_short_name: COLL
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/homework/settings/group-history:
    get:
      tags:
        - Groups
      summary: Получение истории групп для раздела домашних заданий
      description: |
        Возвращает список групп пользователя, доступных в разделе домашних заданий,
        вместе со списком дисциплин (`specs`) для каждой группы.
      operationId: getHomeworkGroupHistory
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      responses:
        '200':
          description: История групп успешно получена
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HomeworkGroupHistoryItem'
              example:
                - specs:
                    - id: 1287
                      name: Внедрение и поддержка компьютерных систем (ИС)
                      short_name: ВП КС РПО
                    - id: 1158
                      name: Иностранный язык в профессиональной деятельности (ИС)
                      short_name: ИЯПД РПО
                    - id: 1285
                      name: Инструментальные средства разработки программного обеспечения (ИС)
                      short_name: И РПО
                    - id: 1286
                      name: Математическое моделирование (ИС)
                      short_name: ММ РПО
                    - id: 1274
                      name: Менеджмент в профессиональной деятельности (ИС)
                      short_name: МПД РПО
                    - id: 1288
                      name: Обеспечение качества функционирования компьютерных систем  (ИС)
                      short_name: ФКС РПО
                    - id: 1628
                      name: ОГСЭ.05  Физическая культура
                      short_name: ФИЗ КУЛЬТ СПО РПО
                    - id: 1273
                      name: Основы алгоритмизации и программирования (ИС)
                      short_name: ОАиП РПО
                    - id: 1272
                      name: Основы философии (ИС)
                      short_name: ОФ РПО
                    - id: 1283
                      name: Производственная практика ПП.ПМ.01 (ИС)
                      short_name: ПП 1  РПО
                    - id: 1280
                      name: Разработка веб-страниц на языке разметки HTML5 с использованием каскадных таблиц стилей CSS3 (ИС)
                      short_name: HTMLCSS РПО
                    - id: 1278
                      name: Сетевое программирование   (ИС)
                      short_name: NP РПО
                    - id: 1275
                      name: Системное программирование (ИС)
                      short_name: SP РПО
                    - id: 1276
                      name: Теория баз данных. Программирование MS SQL Server (ИС)
                      short_name: DT РПО
                    - id: 1277
                      name: Технология доступа к базам данных ADO.NET  (ИС)
                      short_name: ADO.NET РПО
                    - id: 1284
                      name: Технология разработки программного обеспечения (ИС)
                      short_name: Т РПО
                    - id: 1279
                      name: Управление  программными проектами  (ИС)
                      short_name: TP РПО
                    - id: 1593
                      name: Учебная практика    УП. ПМ.03 (ИС)
                      short_name: УП 3  РПО
                    - id: 1526
                      name: Учебная практика    УП.02 (ИС)
                      short_name: УП 2  РПО
                    - id: 1282
                      name: УЧебная практика УП.ПМ.01 (ИС)
                      short_name: УП 1 РПО
                    - id: 1281
                      name: Язык сценариев Javascript и библиотека jQuery (ИС)
                      short_name: JS РПО
                  id: 2651
                  name: 9/3-РПО-23/4-Ш
                - specs: [ ]
                  id: 5
                  name: БУДУЩИЕ ВГ
                - specs: [ ]
                  id: 2716
                  name: 9/3-РПО-23/6-Ш
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/dashboard/chart/average-progress:
    get:
      tags:
        - Grades
      summary: Получение графика средней успеваемости
      description: |
        Возвращает данные для графика средней успеваемости пользователя по периодам.
      operationId: getAverageProgressChart
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      responses:
        '200':
          description: Данные графика успешно получены
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AverageProgressChartItem'
              example:
                - date: '2025-10-01'
                  points: 3
                  previous_points: null
                  has_rasp: null
                - date: '2025-11-01'
                  points: 3
                  previous_points: 3
                  has_rasp: null
                - date: '2025-12-01'
                  points: 4
                  previous_points: 3
                  has_rasp: null
                - date: '2026-01-01'
                  points: 4
                  previous_points: 4
                  has_rasp: null
                - date: '2026-02-01'
                  points: 3
                  previous_points: 4
                  has_rasp: null
                - date: '2026-03-01'
                  points: 3
                  previous_points: 3
                  has_rasp: null
                - date: '2026-04-01'
                  points: 4
                  previous_points: 3
                  has_rasp: null
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/dashboard/progress/activity:
    get:
      tags:
        - Grades
      summary: Получение истории активности прогресса
      description: |
        Возвращает ленту активности пользователя, связанную с баллами,
        достижениями, посещениями, оценками и другими событиями прогресса.
      operationId: getProgressActivity
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      responses:
        '200':
          description: История активности успешно получена
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProgressActivityItem'
              example:
                - date: '2026-04-18 12:36:57'
                  action: 1
                  current_point: 1
                  point_types_id: 1
                  point_types_name: DIAMOND
                  achievements_id: 9
                  achievements_name: HOMETASK_INTIME
                  achievements_type: 1
                  badge: 0
                  old_competition: false
                - date: '2026-04-14 14:34:48'
                  action: 1
                  current_point: 15
                  point_types_id: 2
                  point_types_name: COIN
                  achievements_id: 20
                  achievements_name: ASSESMENT
                  achievements_type: 1
                  badge: 0
                  old_competition: false
                - date: '2026-03-23 03:45:59'
                  action: 0
                  current_point: 1
                  point_types_id: 2
                  point_types_name: COIN
                  achievements_id: 28
                  achievements_name: AUTO_MARK_EXPIRED_HOMEWORK
                  achievements_type: 1
                  badge: 0
                  old_competition: false
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/dashboard/progress/leader-group-points:
    get:
      tags:
        - Grades
      summary: Получение позиции студента в рейтинге группы
      description: |
        Возвращает агрегированную информацию о позиции текущего студента
        в рейтинге группы по баллам.
      operationId: getLeaderGroupPoints
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      responses:
        '200':
          description: Позиция студента в рейтинге успешно получена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderGroupPointsResponse'
              example:
                totalCount: 21
                studentPosition: 15
                weekDiff: 0
                monthDiff: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/dashboard/progress/leader-stream-points:
    get:
      tags:
        - Grades
      summary: Получение позиции студента в рейтинге потока
      description: |
        Возвращает агрегированную информацию о позиции текущего студента
        в рейтинге потока по баллам.
      operationId: getLeaderStreamPoints
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      responses:
        '200':
          description: Позиция студента в рейтинге потока успешно получена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderStreamPointsResponse'
              example:
                totalCount: null
                studentPosition: 179
                weekDiff: 0
                monthDiff: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/dashboard/progress/leader-stream:
    get:
      tags:
        - Grades
      summary: Получение списка лидеров потока
      description: |
        Возвращает список позиций в рейтинге потока по баллам.
        В выдаче могут присутствовать служебные строки с известной позицией,
        но без данных студента и количества баллов.
      operationId: getLeaderStream
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      responses:
        '200':
          description: Список лидеров потока успешно получен
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LeaderStreamItem'
              example:
                - id: 40034
                  full_name: Лутова Алина Андреевна
                  photo_path: https://fs.top-academy.ru/api/v1/files/yDkgUVlDqzUaKEdSCa7pIRLs0sJZ3ASq
                  position: 1
                  amount: 8905
                - id: null
                  full_name: null
                  photo_path: null
                  position: 4
                  amount: null
                - id: 40274
                  full_name: Ворончихин Иван Романович
                  photo_path: https://fs.top-academy.ru/api/v1/files/hLyVqzabnDyXaHEsW3_l_6U9I_MNtIwu
                  position: 179
                  amount: 2603
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/dashboard/progress/leader-group:
    get:
      tags:
        - Grades
      summary: Получение списка лидеров группы
      description: |
        Возвращает список позиций в рейтинге группы по баллам.
      operationId: getLeaderGroup
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      responses:
        '200':
          description: Список лидеров группы успешно получен
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LeaderStreamItem'
              example:
                - amount: 8064
                  id: 43601
                  full_name: Дичинская Анастасия Дмитриевна
                  photo_path: https://fs.top-academy.ru/api/v1/files/1_-zKMALN-1EggvGYokXPDQmYRLas7c0
                  position: 1
                - amount: 3639
                  id: 44551
                  full_name: Белоусов Евгений Васильевич
                  photo_path: null
                  position: 12
                - amount: 2603
                  id: 40274
                  full_name: Ворончихин Иван Романович
                  photo_path: https://fs.top-academy.ru/api/v1/files/hLyVqzabnDyXaHEsW3_l_6U9I_MNtIwu
                  position: 15
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/dashboard/info/future-exams:
    get:
      tags:
        - Grades
      summary: Получение списка будущих экзаменов
      description: |
        Возвращает ближайшие экзамены и практики текущего студента.
      operationId: getFutureExams
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      responses:
        '200':
          description: Список будущих экзаменов успешно получен
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureExamItem'
              example:
                - spec: ОГСЭ.05  Физическая культура
                  date: '2026-04-21'
                - spec: Учебная практика    УП.02 (ИС)
                  date: '2026-04-30'
                - spec: Внедрение и поддержка компьютерных систем (ИС)
                  date: '2026-05-29'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/schedule/operations/get-month:
    get:
      tags:
        - Schedule
      summary: Получение расписания на месяц
      description: |
        Возвращает список занятий за месяц, в который попадает переданная дата.
      operationId: getScheduleMonth
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
        - in: query
          name: date_filter
          required: true
          description: Любая дата внутри нужного месяца
          schema:
            type: string
            format: date
            example: '2026-04-19'
      responses:
        '200':
          description: Расписание на месяц успешно получено
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleLessonItem'
              example:
                - date: '2026-04-01'
                  lesson: 1
                  started_at: '08:30'
                  finished_at: '09:50'
                  teacher_name: Елисеева Анастасия Александровна
                  subject_name: Язык сценариев Javascript и библиотека jQuery (ИС)
                  room_name: 56 Колледж
                - date: '2026-04-20'
                  lesson: 2
                  started_at: '10:00'
                  finished_at: '11:20'
                  teacher_name: Китрис Наталья Сергеевна
                  subject_name: Внедрение и поддержка компьютерных систем (ИС)
                  room_name: 56 Колледж
                - date: '2026-04-30'
                  lesson: 5
                  started_at: '15:00'
                  finished_at: '16:20'
                  teacher_name: Власов Даниил Сергеевич
                  subject_name: Обеспечение качества функционирования компьютерных систем  (ИС)
                  room_name: 56 Колледж
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/schedule/operations/get-by-date-range:
    get:
      tags:
        - Schedule
      summary: Получение расписания по диапазону дат
      description: |
        Возвращает список занятий в указанном диапазоне дат включительно.
      operationId: getScheduleByDateRange
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
        - in: query
          name: date_start
          required: true
          description: Начало диапазона
          schema:
            type: string
            format: date
            example: '2026-04-13'
        - in: query
          name: date_end
          required: true
          description: Конец диапазона
          schema:
            type: string
            format: date
            example: '2026-04-19'
      responses:
        '200':
          description: Расписание по диапазону дат успешно получено
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleLessonItem'
              example:
                - date: '2026-04-13'
                  lesson: 1
                  started_at: '08:30'
                  finished_at: '09:50'
                  teacher_name: Китрис Наталья Сергеевна
                  subject_name: Учебная практика    УП. ПМ.03 (ИС)
                  room_name: 56 Колледж
                - date: '2026-04-15'
                  lesson: 3
                  started_at: '11:30'
                  finished_at: '12:50'
                  teacher_name: Власов Даниил Сергеевич
                  subject_name: Обеспечение качества функционирования компьютерных систем  (ИС)
                  room_name: 56 Колледж
                - date: '2026-04-17'
                  lesson: 5
                  started_at: '15:00'
                  finished_at: '16:20'
                  teacher_name: Таштанов Вейсал Алишерович
                  subject_name: Учебная практика    УП.02 (ИС)
                  room_name: 56 Колледж
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/schedule/operations/get-by-date:
    get:
      tags:
        - Schedule
      summary: Получение расписания на конкретную дату
      description: |
        Возвращает список занятий на указанную дату.
      operationId: getScheduleByDate
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
        - in: query
          name: date_filter
          required: true
          description: Дата, для которой нужно получить расписание
          schema:
            type: string
            format: date
            example: '2026-04-20'
      responses:
        '200':
          description: Расписание на дату успешно получено
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleLessonItem'
              example:
                - date: '2026-04-20'
                  lesson: 1
                  started_at: '08:30'
                  finished_at: '09:50'
                  teacher_name: Васильев Роман Сергеевич
                  subject_name: ОГСЭ.05  Физическая культура
                  room_name: 56 Колледж
                - date: '2026-04-20'
                  lesson: 2
                  started_at: '10:00'
                  finished_at: '11:20'
                  teacher_name: Китрис Наталья Сергеевна
                  subject_name: Внедрение и поддержка компьютерных систем (ИС)
                  room_name: 56 Колледж
                - date: '2026-04-20'
                  lesson: 4
                  started_at: '13:30'
                  finished_at: '14:50'
                  teacher_name: Таштанов Вейсал Алишерович
                  subject_name: Учебная практика    УП.02 (ИС)
                  room_name: 56 Колледж
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/progress/operations/student-visits:
    get:
      tags:
        - Progress
      summary: Получение истории посещений студента
      description: |
        Возвращает историю посещений и связанных оценок по занятиям.
        Для итоговой оценки по дисциплине `lesson_number` и `status_was`
        могут быть `null`.
      operationId: getStudentVisits
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      responses:
        '200':
          description: История посещений успешно получена
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StudentVisitItem'
              example:
                - date_visit: '2026-04-17'
                  lesson_number: 2
                  status_was: 0
                  spec_id: 1288
                  teacher_name: Власов Даниил Сергеевич
                  spec_name: Обеспечение качества функционирования компьютерных систем  (ИС)
                  lesson_theme: Настройка политики безопасности
                  control_work_mark: null
                  home_work_mark: null
                  lab_work_mark: null
                  class_work_mark: null
                  practical_work_mark: null
                  final_work_mark: null
                - date_visit: '2026-04-16'
                  lesson_number: null
                  status_was: null
                  spec_id: 1285
                  teacher_name: Таштанов Вейсал Алишерович
                  spec_name: Инструментальные средства разработки программного обеспечения (ИС)
                  lesson_theme: Итоговая оценка
                  control_work_mark: null
                  home_work_mark: null
                  lab_work_mark: null
                  class_work_mark: null
                  practical_work_mark: null
                  final_work_mark: 4
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/settings/history-specs:
    get:
      tags:
        - Progress
      summary: Получение истории дисциплин студента
      description: |
        Возвращает список дисциплин, которые присутствуют в истории обучения студента.
      operationId: getHistorySpecs
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      responses:
        '200':
          description: История дисциплин успешно получена
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistorySpecItem'
              example:
                - id: 1287
                  name: Внедрение и поддержка компьютерных систем (ИС)
                  short_name: ВП КС РПО
                - id: 1288
                  name: Обеспечение качества функционирования компьютерных систем  (ИС)
                  short_name: ФКС РПО
                - id: 1281
                  name: Язык сценариев Javascript и библиотека jQuery (ИС)
                  short_name: JS РПО
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/progress/operations/student-exams:
    get:
      tags:
        - Progress
      summary: Получение истории экзаменов и итоговых аттестаций студента
      description: |
        Возвращает список экзаменов, зачётов и итоговых оценок студента.
        Для ещё не сданных экзаменов часть полей может быть `null`.
      operationId: getStudentExams
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      responses:
        '200':
          description: История экзаменов успешно получена
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StudentExamItem'
              example:
                - teacher: null
                  mark: 0
                  mark_type: 0
                  date: null
                  ex_file_name: null
                  id_file: 0
                  exam_id: 18923
                  file_path: null
                  comment_teach: null
                  need_access: 1
                  need_access_stud: null
                  comment_delete_file: null
                  spec: Производственная практика  ПП ПМ.03 (ИС)
                - teacher: Таштанов Вейсал Алишерович
                  mark: 4
                  mark_type: 1
                  date: '2026-04-16'
                  ex_file_name: null
                  id_file: 0
                  exam_id: 18400
                  file_path: null
                  comment_teach: null
                  need_access: 1
                  need_access_stud: null
                  comment_delete_file: null
                  spec: Инструментальные средства разработки программного обеспечения (ИС)
                - teacher: Механцев Борис Евгеньевич
                  mark: 4
                  mark_type: 1
                  date: '2026-04-08'
                  ex_file_name: null
                  id_file: 56014
                  exam_id: 18384
                  file_path: https://fs.top-academy.ru/api/v1/files/_YM6x5sTpggwV-cIlD5zICnr8vcPK6sq
                  comment_teach: ''
                  need_access: 1
                  need_access_stud: null
                  comment_delete_file: null
                  spec: Математическое моделирование (ИС)
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/count/homework:
    get:
      tags:
        - Journal
      summary: Получение счетчиков домашних и лабораторных работ
      description: |
        Возвращает счетчики по статусам домашних заданий или лабораторных работ
        для указанной группы.

        Значения параметра `type`:
        - `0` - домашние задания
        - `1` - лабораторные работы

        Значения `counter_type` в ответе:
        - `0` - просрочено
        - `1` - проверено
        - `2` - на проверке
        - `3` - текущие (не сделанные)
        - `4` - общее количество
        - `5` - удалено преподавателем
      operationId: getHomeworkCounters
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
        - name: type
          in: query
          required: true
          description: |
            Тип работ.
            `0` - домашние задания, `1` - лабораторные работы.
          schema:
            type: integer
            enum:
              - 0
              - 1
          example: 0
        - name: group_id
          in: query
          required: true
          description: Идентификатор группы
          schema:
            type: integer
          example: 2651
      responses:
        '200':
          description: Счетчики успешно получены
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HomeworkCounterItem'
              example:
                - counter_type: 1
                  counter: 318
                - counter_type: 3
                  counter: 6
                - counter_type: 0
                  counter: 0
                - counter_type: 2
                  counter: 0
                - counter_type: 5
                  counter: 2
                - counter_type: 4
                  counter: 326
        '422':
          description: Указанная группа не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthValidationErrors'
              example:
                - field: group_id
                  message: Группа не найдена
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/homework/operations/list:
    get:
      tags:
        - Journal
      summary: Получение списка домашних заданий или лабораторных работ по статусу
      description: |
        Возвращает список домашних заданий или лабораторных работ с фильтрацией
        по странице, статусу, типу, группе и дисциплине.

        За один запрос возвращается не более 6 заданий на страницу.

        Параметр `type`:
        - `0` - домашнее задание
        - `1` - лабораторная работа

        Параметр `spec_id` может передаваться:
        - только как массив: `spec_id[]=1287&spec_id[]=1288`
      operationId: getHomeworkOperationsList
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
        - name: page
          in: query
          required: true
          description: Номер страницы. На одной странице возвращается не более 6 заданий
          schema:
            type: integer
            minimum: 1
          example: 1
        - name: status
          in: query
          required: true
          description: Статус домашнего задания или лабораторной работы
          schema:
            type: integer
          example: 1
        - name: type
          in: query
          required: true
          description: |
            Тип работ.
            `0` - домашние задания, `1` - лабораторные работы.
          schema:
            type: integer
            enum:
              - 0
              - 1
          example: 0
        - name: group_id
          in: query
          required: true
          description: Идентификатор группы
          schema:
            type: integer
          example: 2651
        - name: spec_id[]
          in: query
          required: false
          description: Массив идентификаторов дисциплин
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          example:
            - 1287
            - 1288
      responses:
        '200':
          description: Список заданий успешно получен
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HomeworkOperationItem'
              example:
                - id: 204182
                  id_spec: 1287
                  id_teach: 1548
                  id_group: 2651
                  fio_teach: Китрис Наталья Сергеевна
                  theme: Виды клиентского программного обеспечения. Установка, адаптация и сопровождение клиентского программного обеспечения
                  completion_time: '2026-04-24'
                  creation_time: '2026-04-14'
                  overdue_time: '2026-04-25'
                  filename: null
                  file_path: https://fs.top-academy.ru/api/v1/files/T8xDR-pFxCxrmk-KTyvfZ5d7Ud2ze1iB
                  comment: Загрузить отчёт
                  name_spec: Внедрение и поддержка компьютерных систем (ИС)
                  status: 1
                  common_status: null
                  homework_stud:
                    id: 3385732
                    filename: null
                    file_path: https://fs.top-academy.ru/api/v1/files/A4iMw35yGoHh_hebU8C0Sax4BUNGCPfZ
                    tmp_file: null
                    mark: 5
                    creation_time: '2026-04-14'
                    stud_answer: null
                    auto_mark: false
                  homework_comment:
                    text_comment: Задание выполнено в полном объеме. Замечаний нет.
                    attachment: null
                    attachment_path: null
                    date_updated: '2026-04-14 09:13:52'
                  cover_image: https://fs.top-academy.ru/api/v1/files/r9Zoi722MGiOBRME0HdRVp28qCaQ20oN
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v2/homework/operations/create:
    post:
      tags:
        - Journal
      summary: Отправка выполненного домашнего задания
      description: |
        Создаёт ответ студента на домашнее задание.
        Запрос отправляется как `multipart/form-data` и может содержать
        бинарный файл и текстовый ответ.
      operationId: createHomeworkSubmission
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/HomeworkSubmissionCreateRequest'
            encoding:
              file:
                contentType: application/octet-stream
      responses:
        '201':
          description: Ответ по домашнему заданию успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeworkSubmissionCreateResponse'
              example:
                id: 3403574
                filename: null
                file_path: https://fs.top-academy.ru/api/v1/files/0cMo9uas4mJwbkHU3ldWkZkutkzDqMSe
                tmp_file: null
                mark: null
                creation_time: '2026-04-19'
                stud_answer: test description
                auto_mark: false
        '422':
          description: Некорректный идентификатор домашнего задания или невозможность сохранить ответ
          content:
            application/json:
              examples:
                invalidHomeworkId:
                  summary: Некорректный идентификатор домашнего задания
                  value:
                    - field: id
                      message: Значение «Id» неверно.
                cantSaveHomework:
                  summary: Домашнее задание слишком старое и ответ сохранить нельзя
                  value:
                    name: Unprocessable entity
                    message: Can't save homework
                    code: 3002
                    status: 422
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v2/homework/evaluation/operations/save:
    post:
      tags:
        - Grades
      summary: Сохранение оценки по домашнему заданию
      description: |
        Сохраняет оценку, комментарий и теги проверки домашнего задания.
        Запрос отправляется как `multipart/form-data`, где поле
        `EvaluationHomeworkForm` содержит JSON-строку с данными формы.
      operationId: saveHomeworkEvaluation
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/HomeworkEvaluationSaveRequest'
            example:
              EvaluationHomeworkForm: '{"id":null,"idDomZad":204247,"idStud":null,"mark":5,"comment":"test comment","tags":[2,7,1,4,6,5,3]}'
            encoding:
              EvaluationHomeworkForm:
                contentType: text/plain
      responses:
        '201':
          description: Оценка по домашнему заданию успешно сохранена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeworkEvaluationSaveResponse'
              example:
                id: 1002730
                id_dom_zad: 204247
                id_stud: 40274
                mark: 5
                comment: test comment
                tags:
                  - 2
                  - 7
                  - 1
                  - 4
                  - 6
                  - 5
                  - 3
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/homework/operations/delete:
    post:
      tags:
        - Journal
      summary: Удаление ответа на домашнее задание
      description: |
        Удаляет ранее отправленный ответ студента на домашнее задание.
      operationId: deleteHomeworkSubmission
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/RefererHeader'
        - $ref: '#/components/parameters/OriginHeader'
        - $ref: '#/components/parameters/UserAgentHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HomeworkSubmissionDeleteRequest'
            example:
              id: 3403599
      responses:
        '204':
          description: Ответ на домашнее задание успешно удалён
        '422':
          description: Ответ на домашнее задание не удалось удалить
          content:
            application/json:
              schema:
                nullable: true
                example: null
              example: null
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  parameters:
    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      description: Тип содержимого запроса
      schema:
        type: string
        enum:
          - application/json

    AcceptHeader:
      name: Accept
      in: header
      required: true
      description: Ожидаемый тип ответа
      schema:
        type: string
        enum:
          - application/json

    RefererHeader:
      name: Referer
      in: header
      required: true
      description: Referer клиентского приложения
      schema:
        type: string
        example: https://journal.top-academy.ru/

    OriginHeader:
      name: Origin
      in: header
      required: true
      description: Origin клиентского приложения
      schema:
        type: string
        example: https://journal.top-academy.ru

    UserAgentHeader:
      name: User-Agent
      in: header
      required: true
      description: User-Agent должен быть непустым
      schema:
        type: string
        minLength: 1
        example: Mozilla/5.0

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      description: Унифицированная ошибка API
      properties:
        timestamp:
          type: string
          format: date-time
          example: "2026-04-19T14:25:00Z"
        status:
          type: integer
          example: 400
        error:
          type: string
          example: Bad Request
        message:
          type: string
          example: Validation failed
        path:
          type: string
          example: /journal/entries
      required:
        - status
        - error
        - message

    PaginationMeta:
      type: object
      description: Метаданные пагинации
      properties:
        page:
          type: integer
          example: 0
        size:
          type: integer
          example: 20
        totalElements:
          type: integer
          example: 125
        totalPages:
          type: integer
          example: 7
      required:
        - page
        - size
        - totalElements
        - totalPages

    LoginRequest:
      type: object
      properties:
        application_key:
          type: string
          description: Ключ клиентского приложения
          example: 6a56a5df2667e65aab73ce76d1dd737f7d1faef9c52e8b8c55ac75f565d8e8a6
        id_city:
          type: integer
          nullable: true
          description: Идентификатор города. Может быть `null`
          example: null
        password:
          type: string
          format: password
          example: TestPassword123123
        username:
          type: string
          example: Voron_zw26
      required:
        - application_key
        - id_city
        - password
        - username

    RefreshTokenRequest:
      type: object
      properties:
        refresh_token:
          type: string
          description: JWT refresh token
      required:
        - refresh_token

    LoginSuccessResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT access token
        refresh_token:
          type: string
          description: JWT refresh token
        expires_in_refresh:
          type: integer
          description: Время истечения refresh token в формате Unix timestamp
          example: 1776623302
        expires_in_access:
          type: integer
          description: Время истечения access token в формате Unix timestamp
          example: 1776623302
        user_type:
          type: integer
          example: 1
        city_data:
          $ref: '#/components/schemas/CityData'
        user_role:
          type: string
          example: student
      required:
        - access_token
        - refresh_token
        - expires_in_refresh
        - expires_in_access
        - user_type
        - city_data
        - user_role

    RefreshTokenSuccessResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT access token
        refresh_token:
          type: string
          description: JWT refresh token
        expires_in_refresh:
          type: integer
          description: Время истечения refresh token в формате Unix timestamp
          example: 1776624306
        expires_in_access:
          type: integer
          description: Время истечения access token в формате Unix timestamp
          example: 1776624306
        user_type:
          type: integer
          example: 1
        city_data:
          allOf:
            - $ref: '#/components/schemas/CityData'
          nullable: true
          description: Город пользователя. В этом ответе может быть `null`
        user_role:
          type: string
          nullable: true
          description: Роль пользователя. В этом ответе может быть `null`
          example: null
      required:
        - access_token
        - refresh_token
        - expires_in_refresh
        - expires_in_access
        - user_type
        - city_data
        - user_role

    UserGroup:
      type: object
      properties:
        group_status:
          type: integer
          example: 0
        is_primary:
          type: boolean
          example: true
        id:
          type: integer
          example: 2651
        name:
          type: string
          example: 9/3-РПО-23/4-Ш
      required:
        - group_status
        - is_primary
        - id
        - name

    GamingPoint:
      type: object
      properties:
        new_gaming_point_types__id:
          type: integer
          example: 1
        points:
          type: integer
          example: 2074
      required:
        - new_gaming_point_types__id
        - points

    HomeworkSpec:
      type: object
      properties:
        id:
          type: integer
          example: 1287
        name:
          type: string
          example: Внедрение и поддержка компьютерных систем (ИС)
        short_name:
          type: string
          example: ВП КС РПО
      required:
        - id
        - name
        - short_name

    HomeworkGroupHistoryItem:
      type: object
      properties:
        specs:
          type: array
          items:
            $ref: '#/components/schemas/HomeworkSpec'
        id:
          type: integer
          example: 2651
        name:
          type: string
          example: 9/3-РПО-23/4-Ш
      required:
        - specs
        - id
        - name

    AverageProgressChartItem:
      type: object
      properties:
        date:
          type: string
          format: date
          example: '2025-10-01'
        points:
          type: integer
          example: 3
        previous_points:
          type: integer
          nullable: true
          example: null
        has_rasp:
          type: boolean
          nullable: true
          example: null
      required:
        - date
        - points
        - previous_points
        - has_rasp

    ProgressActivityItem:
      type: object
      properties:
        date:
          type: string
          example: '2026-04-18 12:36:57'
        action:
          type: integer
          description: Тип действия в истории активности
          example: 1
        current_point:
          type: integer
          example: 1
        point_types_id:
          type: integer
          example: 1
        point_types_name:
          type: string
          example: DIAMOND
        achievements_id:
          type: integer
          example: 9
        achievements_name:
          type: string
          example: HOMETASK_INTIME
        achievements_type:
          type: integer
          example: 1
        badge:
          type: integer
          example: 0
        old_competition:
          type: boolean
          example: false
      required:
        - date
        - action
        - current_point
        - point_types_id
        - point_types_name
        - achievements_id
        - achievements_name
        - achievements_type
        - badge
        - old_competition

    LeaderGroupPointsResponse:
      type: object
      properties:
        totalCount:
          type: integer
          description: Общее количество студентов в рейтинге группы
          example: 21
        studentPosition:
          type: integer
          description: Текущая позиция студента в рейтинге
          example: 15
        weekDiff:
          type: integer
          description: Изменение позиции за неделю
          example: 0
        monthDiff:
          type: integer
          description: Изменение позиции за месяц
          example: 0
      required:
        - totalCount
        - studentPosition
        - weekDiff
        - monthDiff

    LeaderStreamPointsResponse:
      type: object
      properties:
        totalCount:
          type: integer
          nullable: true
          description: Общее количество студентов в рейтинге потока. Может быть `null`
          example: null
        studentPosition:
          type: integer
          description: Текущая позиция студента в рейтинге потока
          example: 179
        weekDiff:
          type: integer
          description: Изменение позиции за неделю
          example: 0
        monthDiff:
          type: integer
          description: Изменение позиции за месяц
          example: 0
      required:
        - totalCount
        - studentPosition
        - weekDiff
        - monthDiff

    LeaderStreamItem:
      type: object
      properties:
        id:
          type: integer
          nullable: true
          description: Идентификатор студента. Может быть `null` для служебной строки рейтинга
          example: 40034
        full_name:
          type: string
          nullable: true
          description: ФИО студента. Может быть `null` для служебной строки рейтинга
          example: Лутова Алина Андреевна
        photo_path:
          type: string
          nullable: true
          format: uri
          description: Ссылка на фото студента. Может быть `null`
          example: https://fs.top-academy.ru/api/v1/files/yDkgUVlDqzUaKEdSCa7pIRLs0sJZ3ASq
        position:
          type: integer
          description: Позиция в рейтинге потока
          example: 1
        amount:
          type: integer
          nullable: true
          description: Количество баллов. Может быть `null` для служебной строки рейтинга
          example: 8905
      required:
        - id
        - full_name
        - photo_path
        - position
        - amount

    FutureExamItem:
      type: object
      properties:
        spec:
          type: string
          description: Название дисциплины, экзамена или практики
          example: ОГСЭ.05  Физическая культура
        date:
          type: string
          format: date
          description: Дата проведения
          example: '2026-04-21'
      required:
        - spec
        - date

    ScheduleLessonItem:
      type: object
      properties:
        date:
          type: string
          format: date
          example: '2026-04-20'
        lesson:
          type: integer
          description: Номер пары в расписании
          example: 1
        started_at:
          type: string
          description: Время начала занятия
          example: '08:30'
        finished_at:
          type: string
          description: Время окончания занятия
          example: '09:50'
        teacher_name:
          type: string
          example: Васильев Роман Сергеевич
        subject_name:
          type: string
          example: ОГСЭ.05  Физическая культура
        room_name:
          type: string
          example: 56 Колледж
      required:
        - date
        - lesson
        - started_at
        - finished_at
        - teacher_name
        - subject_name
        - room_name

    StudentVisitItem:
      type: object
      properties:
        date_visit:
          type: string
          format: date
          description: Дата занятия или фиксации итоговой оценки
          example: '2026-04-17'
        lesson_number:
          type: integer
          nullable: true
          description: |
            Номер пары.
            Может быть `null`, если запись относится не к конкретному занятию,
            а к итоговой оценке по дисциплине.
          example: 2
        status_was:
          type: integer
          nullable: true
          description: |
            Статус посещения:
            `null` - студента не было,
            `1` - посетил,
            `2` - опоздал.
          example: 1
        spec_id:
          type: integer
          description: Идентификатор дисциплины
          example: 1288
        teacher_name:
          type: string
          description: ФИО преподавателя
          example: Власов Даниил Сергеевич
        spec_name:
          type: string
          description: Полное название дисциплины
          example: Обеспечение качества функционирования компьютерных систем  (ИС)
        lesson_theme:
          type: string
          description: Тема занятия или текст записи об итоговой оценке
          example: Настройка политики безопасности
        control_work_mark:
          type: integer
          nullable: true
          description: Оценка за контрольную работу
          example: null
        home_work_mark:
          type: integer
          nullable: true
          description: Оценка за домашнюю работу
          example: null
        lab_work_mark:
          type: integer
          nullable: true
          description: Оценка за лабораторную работу
          example: null
        class_work_mark:
          type: integer
          nullable: true
          description: Оценка за работу на занятии
          example: null
        practical_work_mark:
          type: integer
          nullable: true
          description: Оценка за практическую работу
          example: null
        final_work_mark:
          type: integer
          nullable: true
          description: Итоговая оценка по дисциплине
          example: null
      required:
        - date_visit
        - lesson_number
        - status_was
        - spec_id
        - teacher_name
        - spec_name
        - lesson_theme
        - control_work_mark
        - home_work_mark
        - lab_work_mark
        - class_work_mark
        - practical_work_mark
        - final_work_mark

    HistorySpecItem:
      type: object
      properties:
        id:
          type: integer
          example: 1287
        name:
          type: string
          example: Внедрение и поддержка компьютерных систем (ИС)
        short_name:
          type: string
          example: ВП КС РПО
      required:
        - id
        - name
        - short_name

    StudentExamItem:
      type: object
      properties:
        teacher:
          type: string
          nullable: true
          example: Таштанов Вейсал Алишерович
        mark:
          type: integer
          example: 4
        mark_type:
          type: integer
          example: 1
        date:
          type: string
          nullable: true
          format: date
          example: '2026-04-16'
        ex_file_name:
          type: string
          nullable: true
          example: null
        id_file:
          type: integer
          example: 0
        exam_id:
          type: integer
          example: 18400
        file_path:
          type: string
          nullable: true
          format: uri
          example: null
        comment_teach:
          type: string
          nullable: true
          example: null
        need_access:
          type: integer
          example: 1
        need_access_stud:
          type: integer
          nullable: true
          example: null
        comment_delete_file:
          type: string
          nullable: true
          example: null
        spec:
          type: string
          example: Инструментальные средства разработки программного обеспечения (ИС)
      required:
        - teacher
        - mark
        - mark_type
        - date
        - ex_file_name
        - id_file
        - exam_id
        - file_path
        - comment_teach
        - need_access
        - need_access_stud
        - comment_delete_file
        - spec

    HomeworkCounterItem:
      type: object
      properties:
        counter_type:
          type: integer
          description: |
            Статус задания.
            `0` - просрочено,
            `1` - проверено,
            `2` - на проверке,
            `3` - текущие,
            `4` - общее количество,
            `5` - удалено преподавателем.
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
          example: 1
        counter:
          type: integer
          example: 318
      required:
        - counter_type
        - counter

    HomeworkStudentSubmission:
      type: object
      properties:
        id:
          type: integer
          example: 3385732
        filename:
          type: string
          nullable: true
          example: null
        file_path:
          type: string
          format: uri
          example: https://fs.top-academy.ru/api/v1/files/A4iMw35yGoHh_hebU8C0Sax4BUNGCPfZ
        tmp_file:
          type: string
          nullable: true
          example: null
        mark:
          type: integer
          example: 5
        creation_time:
          type: string
          format: date
          example: '2026-04-14'
        stud_answer:
          type: string
          nullable: true
          example: null
        auto_mark:
          type: boolean
          example: false
      required:
        - id
        - filename
        - file_path
        - tmp_file
        - mark
        - creation_time
        - stud_answer
        - auto_mark

    HomeworkComment:
      type: object
      properties:
        text_comment:
          type: string
          nullable: true
          example: Задание выполнено в полном объеме. Замечаний нет.
        attachment:
          type: string
          nullable: true
          example: null
        attachment_path:
          type: string
          nullable: true
          example: null
        date_updated:
          type: string
          example: '2026-04-14 09:13:52'
      required:
        - text_comment
        - attachment
        - attachment_path
        - date_updated

    HomeworkSubmissionCreateRequest:
      type: object
      description: |
        Форма отправки ответа на домашнее задание.
        Должно быть заполнено хотя бы одно из полей: `file` или `answerText`.
        Разрешено передавать оба поля одновременно.
      properties:
        id:
          type: integer
          description: Идентификатор домашнего задания
          example: 204247
        file:
          type: string
          format: binary
          nullable: true
          description: Бинарный файл с выполненным заданием
        answerText:
          type: string
          nullable: true
          description: Текстовый ответ студента
          example: test description
        spentTimeHour:
          type: string
          description: Количество часов, затраченных на выполнение
          example: '01'
        spentTimeMin:
          type: string
          description: Количество минут, затраченных на выполнение
          example: '01'
      required:
        - id
        - spentTimeHour
        - spentTimeMin

    HomeworkSubmissionCreateResponse:
      type: object
      properties:
        id:
          type: integer
          example: 3403574
        filename:
          type: string
          nullable: true
          example: null
        file_path:
          type: string
          format: uri
          example: https://fs.top-academy.ru/api/v1/files/0cMo9uas4mJwbkHU3ldWkZkutkzDqMSe
        tmp_file:
          type: string
          nullable: true
          example: null
        mark:
          type: integer
          nullable: true
          example: null
        creation_time:
          type: string
          format: date
          example: '2026-04-19'
        stud_answer:
          type: string
          nullable: true
          example: test description
        auto_mark:
          type: boolean
          example: false
      required:
        - id
        - filename
        - file_path
        - tmp_file
        - mark
        - creation_time
        - stud_answer
        - auto_mark

    HomeworkEvaluationSaveRequest:
      type: object
      description: |
        Multipart-форма с одним полем `EvaluationHomeworkForm`.
        Значение поля передаётся как текст и содержит JSON-строку, например:
        `{"id":null,"idDomZad":204247,"idStud":null,"mark":5,"comment":"test comment","tags":[2,7,1,4,6,5,3]}`.
      properties:
        EvaluationHomeworkForm:
          type: string
          description: JSON-строка с данными оценки домашнего задания
          example: '{"id":null,"idDomZad":204247,"idStud":null,"mark":5,"comment":"test comment","tags":[2,7,1,4,6,5,3]}'
      required:
        - EvaluationHomeworkForm

    HomeworkEvaluationSaveResponse:
      type: object
      properties:
        id:
          type: integer
          example: 1002730
        id_dom_zad:
          type: integer
          description: Идентификатор домашнего задания
          example: 204247
        id_stud:
          type: integer
          description: Идентификатор студента
          example: 40274
        mark:
          type: integer
          description: Выставленная оценка
          example: 5
        comment:
          type: string
          nullable: true
          description: Комментарий преподавателя
          example: test comment
        tags:
          type: array
          description: Идентификаторы тегов проверки
          items:
            type: integer
          example:
            - 2
            - 7
            - 1
            - 4
            - 6
            - 5
            - 3
      required:
        - id
        - id_dom_zad
        - id_stud
        - mark
        - comment
        - tags

    HomeworkSubmissionDeleteRequest:
      type: object
      properties:
        id:
          type: integer
          description: Идентификатор отправленного ответа студента
          example: 3403599
      required:
        - id

    HomeworkOperationItem:
      type: object
      properties:
        id:
          type: integer
          example: 204182
        id_spec:
          type: integer
          example: 1287
        id_teach:
          type: integer
          example: 1548
        id_group:
          type: integer
          example: 2651
        fio_teach:
          type: string
          example: Китрис Наталья Сергеевна
        theme:
          type: string
          example: Виды клиентского программного обеспечения. Установка, адаптация и сопровождение клиентского программного обеспечения
        completion_time:
          type: string
          format: date
          example: '2026-04-24'
        creation_time:
          type: string
          format: date
          example: '2026-04-14'
        overdue_time:
          type: string
          format: date
          example: '2026-04-25'
        filename:
          type: string
          nullable: true
          example: null
        file_path:
          type: string
          format: uri
          example: https://fs.top-academy.ru/api/v1/files/T8xDR-pFxCxrmk-KTyvfZ5d7Ud2ze1iB
        comment:
          type: string
          nullable: true
          example: Загрузить отчёт
        name_spec:
          type: string
          example: Внедрение и поддержка компьютерных систем (ИС)
        status:
          type: integer
          example: 1
        common_status:
          type: integer
          nullable: true
          example: null
        homework_stud:
          $ref: '#/components/schemas/HomeworkStudentSubmission'
        homework_comment:
          $ref: '#/components/schemas/HomeworkComment'
        cover_image:
          type: string
          format: uri
          example: https://fs.top-academy.ru/api/v1/files/r9Zoi722MGiOBRME0HdRVp28qCaQ20oN
      required:
        - id
        - id_spec
        - id_teach
        - id_group
        - fio_teach
        - theme
        - completion_time
        - creation_time
        - overdue_time
        - filename
        - file_path
        - comment
        - name_spec
        - status
        - common_status
        - homework_stud
        - homework_comment
        - cover_image

    UserVisibility:
      type: object
      properties:
        is_design:
          type: boolean
        is_video_courses:
          type: boolean
        is_vacancy:
          type: boolean
        is_signal:
          type: boolean
        is_promo:
          type: boolean
        is_test:
          type: boolean
        is_email_verified:
          type: boolean
        is_quizzes_expired:
          type: boolean
        is_debtor:
          type: boolean
        is_phone_verified:
          type: boolean
        is_only_profile:
          type: boolean
        is_referral_program:
          type: boolean
        is_dz_group_issue:
          type: boolean
        is_birthday:
          type: boolean
        is_school:
          type: boolean
        is_news_popup:
          type: boolean
        is_school_branch:
          type: boolean
        is_college_branch:
          type: boolean
        is_higher_education_branch:
          type: boolean
        is_russian_branch:
          type: boolean
        is_academy_branch:
          type: boolean
      required:
        - is_design
        - is_video_courses
        - is_vacancy
        - is_signal
        - is_promo
        - is_test
        - is_email_verified
        - is_quizzes_expired
        - is_debtor
        - is_phone_verified
        - is_only_profile
        - is_referral_program
        - is_dz_group_issue
        - is_birthday
        - is_school
        - is_news_popup
        - is_school_branch
        - is_college_branch
        - is_higher_education_branch
        - is_russian_branch
        - is_academy_branch

    UserInfoResponse:
      type: object
      properties:
        groups:
          type: array
          items:
            $ref: '#/components/schemas/UserGroup'
        manual_link:
          type: string
          nullable: true
          example: null
        student_id:
          type: integer
          example: 40274
        current_group_id:
          type: integer
          example: 2651
        full_name:
          type: string
          example: Ворончихин Иван Романович
        achieves_count:
          type: integer
          example: 9
        stream_id:
          type: integer
          example: 123
        stream_name:
          type: string
          example: Колледж Осень 2023
        group_name:
          type: string
          example: 9/3-РПО-23/4-Ш
        level:
          type: integer
          example: 7
        photo:
          type: string
          format: uri
          example: https://fs.top-academy.ru/api/v1/files/hLyVqzabnDyXaHEsW3_l_6U9I_MNtIwu
        gaming_points:
          type: array
          items:
            $ref: '#/components/schemas/GamingPoint'
        spent_gaming_points:
          type: array
          items:
            $ref: '#/components/schemas/GamingPoint'
        visibility:
          $ref: '#/components/schemas/UserVisibility'
        current_group_status:
          type: integer
          example: 0
        birthday:
          type: string
          format: date
          example: '2007-07-12'
        age:
          type: integer
          example: 18
        last_date_visit:
          type: string
          example: '2026-04-19 15:05:51'
        registration_date:
          type: string
          example: '2023-07-11 00:00:00'
        gender:
          type: integer
          example: 0
        study_form_short_name:
          type: string
          example: COLL
      required:
        - groups
        - manual_link
        - student_id
        - current_group_id
        - full_name
        - achieves_count
        - stream_id
        - stream_name
        - group_name
        - level
        - photo
        - gaming_points
        - spent_gaming_points
        - visibility
        - current_group_status
        - birthday
        - age
        - last_date_visit
        - registration_date
        - gender
        - study_form_short_name

    CityData:
      type: object
      properties:
        id_city:
          type: integer
          example: 116
        prefix:
          type: string
          example: sham
        translate_key:
          type: string
          example: SHAMBALA
        timezone_name:
          type: string
          example: Europe/Moscow
        country_code:
          type: string
          example: RU/RUS
        market_status:
          type: integer
          example: 1
        name:
          type: string
          example: Шамбала
      required:
        - id_city
        - prefix
        - translate_key
        - timezone_name
        - country_code
        - market_status
        - name

    AuthValidationError:
      type: object
      properties:
        field:
          type: string
          description: Поле, в котором произошла ошибка авторизации
          example: username
        message:
          type: string
          example: Неверный логин или пароль
      required:
        - field
        - message

    AuthValidationErrors:
      type: array
      items:
        $ref: '#/components/schemas/AuthValidationError'

    ApplicationKeyGoneResponse:
      type: object
      properties:
        name:
          type: string
          example: Gone
        message:
          type: string
          example: Application with key "15463456456754611" was deleted
        code:
          type: integer
          example: 0
        status:
          type: integer
          example: 410
      required:
        - name
        - message
        - code
        - status

    UnauthorizedResponse:
      type: object
      properties:
        name:
          type: string
          example: Unauthorized
        message:
          type: string
          example: Your request was made with invalid credentials.
        code:
          type: integer
          example: 0
        status:
          type: integer
          example: 401
      required:
        - name
        - message
        - code
        - status

    RefreshTokenGoneResponse:
      type: object
      properties:
        name:
          type: string
          example: Gone
        message:
          type: string
          example: Your refresh token is not found or expired, please check your auth credentials and try to authenticate
        code:
          type: integer
          example: 0
        status:
          type: integer
          example: 410
      required:
        - name
        - message
        - code
        - status

  responses:
    BadRequest:
      description: Некорректный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Требуется аутентификация
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedResponse'
          example:
            name: Unauthorized
            message: Your request was made with invalid credentials.
            code: 0
            status: 401

    Forbidden:
      description: Недостаточно прав
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
